{% extends 'telaPrincipal/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Registrar Horário{% endblock %}
{% block h1Pagina %}Registrar Horário{% endblock %}

{% block breadcrumTextRight %}
  <ol class="breadcrumb text-right">
    <li style="text-transform:none;"><a href="{% url 'telaPrincipal:index' %}">Gestão a Vista</a></li>
    <li class="active" style="text-transform:none;">Adicionar Máquina/Pacote</li>
  </ol>
{% endblock %}

{% block content %}
  <style>
    .itemFormOculto {
      display: none;
    }
    #div_id_diaeHoraEntrada, #div_id_diaeHoraSaida {
      margin: 0;
    }
  </style>
  <div class="content mt-3">
    <div class="card">
      <div class="card-header">
          <strong>Selecionar Local e Estrutura</strong>
      </div>
      <div class="card-body card-block">
        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <form method="POST" id="formHSMA" class="form-row" dataCarregarEstruturasURL="{% url 'telaPrincipal:ajaxCarEstrProcHSM' %}">
          {% csrf_token %}
          <div class="col-md-6">
            {{ form.id_local|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.id_estrutura|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.diaeHoraEntrada|as_crispy_field }}
            <div style="text-align: center;">
              <button type="submit" class="btn btn-primary itemFormOculto" id="registrarInicio" name="registrarInicio">Registrar</button>
            </div>
          </div>
          <div class="col-md-6">
            {{ form.diaeHoraSaida|as_crispy_field }}
            <div style="text-align: center;">
              <button type="submit" class="btn btn-success itemFormOculto" id="registrarFim" name="registrarFim">Registrar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block arquivosJS %}
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      dataHoraInicio = $('#id_diaeHoraEntrada').val();
      $("#id_id_local").change(function () {
        var url = $("#formHSMA").attr("dataCarregarEstruturasURL");  // get the url of the `load_cities` view
        var idLocal = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
          cache: false,
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'id_local': idLocal       // add the country id to the GET parameters
          },

        })
        .done(function (response) {
          $('#id_id_estrutura').empty();
          $.each(response, function (index1, value1) {
            $.each(this.opcoes, function (index2, value2) {
              if (index2 == 0) {
                if (value1.exibirPrimeiroItem == "True") {
                  $('#id_id_estrutura').append(new Option(value2.rotulo,value2.id));
                  $('#id_diaeHoraEntrada').val(dataHoraInicio);
                  $('#id_diaeHoraEntrada').css({"display": "none"});
                  $('#registrarInicio').css({"display": "none"});
                  $('#registrarFim').css({"display": "none"});
                }
                else {
                  $('#id_diaeHoraEntrada').val(value1.dataHoraInicio);
                  $('#id_diaeHoraEntrada').css({"display": "inline"});
                  $('#registrarInicio').css({"display": "none"});
                  $('#registrarFim').css({"display": "inline"});
                }
              }
              else {
                $('#id_id_estrutura').append(new Option(value2.rotulo,value2.id));
              }
            })
          })
        });
      });
      $("#id_id_estrutura").change(function () {
        $('#id_diaeHoraEntrada').css({"display": "none"});
        $('#registrarFim').css({"display": "none"});
        if ($(this).val() != "") {
          $('#registrarInicio').css({"display": "inline"});
        }
        else {
          $('#registrarInicio').css({"display": "none"});
        }
      });
    });
  </script>
{% endblock %}
