{% extends 'telaPrincipal/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Adicionar Programação{% endblock %}
{% block h1Pagina %}Adicionar Programação{% endblock %}

{% block breadcrumTextRight %}
  <ol class="breadcrumb text-right">
    <li style="text-transform:none;"><a href="{% url 'telaPrincipal:index' %}">Gestão a Vista</a></li>
    <li class="active" style="text-transform:none;">Adicionar Máquina/Pacote</li>
  </ol>
{% endblock %}

{% block content %}
  <div class="content mt-3">
    <div class="card">
      <div class="card-header">
          <strong>Selecionar Local/Estrutura e período</strong>
      </div>
      <div class="card-body card-block">
        <form method="POST" class="form-row">
          {% csrf_token %}
          <div class="col-md-6">
            {{ form.id_local|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.id_estrutura|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.diaeHoraEntrada|as_crispy_field }}
          </div>
          <div class="col-md-6">
            {{ form.diaeHoraSaida|as_crispy_field }}
          </div>
          <div class="col-6 text-center"><a href="../" class="btn btn-warning">Cancelar</a></div>
          <div class="col-6 text-center"><button type="submit" class="btn btn-info">Salvar</button></div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block arquivosJS %}
<script type="text/javascript">
  jQuery(document).ready(function($) {
    jQuery.datetimepicker.setLocale('pt-BR');
    $("#id_diaeHoraEntrada").datetimepicker({
      format:'Y-m-d H:i',
      allowTimes:[
        '00:00', '00:30',
        '01:00', '01:30',
        '02:00', '02:30',
        '03:00', '03:30',
        '04:00', '04:30',
        '05:00', '05:30',
        '06:00', '06:30',
        '07:00', '07:30',
        '08:00', '08:30',
        '09:00', '09:30',
        '10:00', '10:30',
        '11:00', '11:30',
        '12:00', '12:30',
        '13:00', '13:30',
        '14:00', '14:30',
        '15:00', '15:30',
        '16:00', '16:30',
        '17:00', '17:30',
        '18:00', '18:30',
        '19:00', '19:30',
        '20:00', '20:30',
        '21:00', '21:30',
        '22:00', '22:30',
        '23:00', '23:30'
       ]
    });
    $("#id_diaeHoraSaida").datetimepicker({
      format:'Y-m-d H:i',
      allowTimes:[
        '00:00', '00:30',
        '01:00', '01:30',
        '02:00', '02:30',
        '03:00', '03:30',
        '04:00', '04:30',
        '05:00', '05:30',
        '06:00', '06:30',
        '07:00', '07:30',
        '08:00', '08:30',
        '09:00', '09:30',
        '10:00', '10:30',
        '11:00', '11:30',
        '12:00', '12:30',
        '13:00', '13:30',
        '14:00', '14:30',
        '15:00', '15:30',
        '16:00', '16:30',
        '17:00', '17:30',
        '18:00', '18:30',
        '19:00', '19:30',
        '20:00', '20:30',
        '21:00', '21:30',
        '22:00', '22:30',
        '23:00', '23:30'
       ]
    });
  });
</script>
{% endblock %}
