{% extends 'telaPrincipal/base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Adicionar Cartão{% endblock %}
{% block h1Pagina %}Adicionar Cartão{% endblock %}

{% block breadcrumTextRight %}
  <ol class="breadcrumb text-right">
    <li style="text-transform:none;"><a href="{% url 'telaPrincipal:index' %}">Gestão a Vista</a></li>
    <li class="active" style="text-transform:none;">Adicionar Cartão</li>
  </ol>
{% endblock %}

{% block content %}
        <style>
          .diasPadrao {
            font-weight: bold;
          }
        </style>

        <div class="content mt-3">

          <div class="card">
            <div class="card-header">
                <strong>Inserir Estrutura</strong> <small> (Novo Cartão no Quadro de Gestão a Vista)</small>
            </div>
            <div class="card-body card-block">
              {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                  {% endfor %}
              {% endif %}
              <form method="POST" id="formEstrutura" dataCarregarEstruturasURL="{% url 'telaPrincipal:ajaxCarregarEstruturas' %}" dataCarregarPrazosEstrutura="{% url 'telaPrincipal:ajaxCarregarPrazosEstrutura' %}" class="form-row">
                {% csrf_token %}
                <div class="col-md-6">
                  {{ form.id_maquina|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.id_estruturas|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.ordemproducao|as_crispy_field }}
                </div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6" >
                  {{ form.dataInicioManufatura|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                  {{ form.dataEntregaMax|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Corte:</label>
                  <div>
                    <span id ="spanPrazoPadraoCorte" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazocorte|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Corte:</label>
                  <div>
                  = <span id ="spanTotalPrazoCorte" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Cald/Solda:</label>
                  <div>
                    <span id ="spanPrazoPadraoCaldSolda" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazocaldsolda|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Cald/Solda:</label>
                  <div>
                  = <span id ="spanTotalCaldSolda" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Usinagem:</label>
                  <div>
                    <span id ="spanPrazoPadraoUsinagem" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazousinagem|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Usinagem:</label>
                  <div>
                  = <span id ="spanTotalUsinagem" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Pintura:</label>
                  <div>
                    <span id ="spanPrazoPadraoPintura" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazopintura|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Pintura:</label>
                  <div>
                  = <span id ="spanTotalPintura" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="col-6 text-center"><a href="../" class="btn btn-warning">Cancelar</a></div>
                <div class="col-6 text-center"><button type="submit" class="btn btn-info">Salvar</button></div>
              </form>
            </div>
          </div>
        </div> <!-- .content -->
{% endblock %}

{% block arquivosJS %}
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $("#id_id_maquina").change(function () {
        var url = $("#formEstrutura").attr("dataCarregarEstruturasURL");  // get the url of the `load_cities` view
        var idMaquina = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
          cache: false,
          contentType: "application/json; charset=utf-8",
          url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
          data: {
            'id_maquina': idMaquina       // add the country id to the GET parameters
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            $("#id_id_estruturas").html(data);  // replace the contents of the city input with the data that came from the server
          }
        });
      });

      $("#id_id_estruturas").change(function () {
        var url = $("#formEstrutura").attr("dataCarregarPrazosEstrutura");  // get the url of the `load_cities` view
        var id_estrutura = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
          cache: false,
          contentType: "application/json; charset=utf-8",
          url: url,
          data: {
            'id_estrutura': id_estrutura
          },
          success: function (data) {   // `data` is the return of the `load_cities` view function
            var prazos = JSON.parse(data);
            $.each(prazos, function(i, prazo){
              $("#spanPrazoPadraoCorte").html(prazo.prazopadraocorte);
              $("#spanTotalPrazoCorte").html(Number(prazo.prazopadraocorte) + Number($("#id_prazocorte").val()));
              $("#spanPrazoPadraoCaldSolda").html(prazo.prazopadraocaldsolda);
              $("#spanTotalCaldSolda").html(Number(prazo.prazopadraocaldsolda) + Number($("#id_prazocaldsolda").val()));
              $("#spanPrazoPadraoUsinagem").html(prazo.prazopadraousinagem);
              $("#spanTotalUsinagem").html(Number(prazo.prazopadraousinagem) + Number($("#id_prazousinagem").val()));
              $("#spanPrazoPadraoPintura").html(prazo.prazopadraopintura);
              $("#spanTotalPintura").html(Number(prazo.prazopadraopintura) + Number($("#id_prazopintura").val()));
            });
          }
        });
      });

      $("#id_prazocorte").change(function () {
        $("#spanTotalPrazoCorte").html(Number($("#spanPrazoPadraoCorte").text()) + Number($(this).val()));
      });
      $( "#id_prazocorte" ).addClass("form-control-sm");

      jQuery.datetimepicker.setLocale('pt-BR');
      $("#id_dataInicioManufatura").datetimepicker({
        format:'Y-m-d H:i',
        allowTimes:[
          '00:00', '00:30',
          '01:00', '01:30',
          '02:00', '02:30',
          '03:00', '03:30',
          '04:00', '04:30',
          '05:00', '05:30',
          '06:00', '06:30',
          '07:00', '07:30',
          '08:00', '08:30',
          '09:00', '09:30',
          '10:00', '10:30',
          '11:00', '11:30',
          '12:00', '12:30',
          '13:00', '13:30',
          '14:00', '14:30',
          '15:00', '15:30',
          '16:00', '16:30',
          '17:00', '17:30',
          '18:00', '18:30',
          '19:00', '19:30',
          '20:00', '20:30',
          '21:00', '21:30',
          '22:00', '22:30',
          '23:00', '23:30'
         ]
      });
      $("#id_dataEntregaMax").datetimepicker({
        format:'Y-m-d H:i',
        allowTimes:[
          '00:00', '00:30',
          '01:00', '01:30',
          '02:00', '02:30',
          '03:00', '03:30',
          '04:00', '04:30',
          '05:00', '05:30',
          '06:00', '06:30',
          '07:00', '07:30',
          '08:00', '08:30',
          '09:00', '09:30',
          '10:00', '10:30',
          '11:00', '11:30',
          '12:00', '12:30',
          '13:00', '13:30',
          '14:00', '14:30',
          '15:00', '15:30',
          '16:00', '16:30',
          '17:00', '17:30',
          '18:00', '18:30',
          '19:00', '19:30',
          '20:00', '20:30',
          '21:00', '21:30',
          '22:00', '22:30',
          '23:00', '23:30'
         ]
      });
    });
  </script>
{% endblock %}
