{% extends 'telaPrincipal/base.html' %}

{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Adicionar Cartão{% endblock %}
{% block h1Pagina %}Adicionar Cartão{% endblock %}

{% block breadcrumTextRight %}
  <ol class="breadcrumb text-right">
    <li style="text-transform:none;"><a href="{% url 'telaPrincipal:index' %}">Gestão a Vista</a></li>
    <li class="active" style="text-transform:none;">Adicionar Cartão</li>
  </ol>
{% endblock %}

{% block content %}
        <style>
          .diasPadrao {
            font-weight: bold;
          }
        </style>

        <div class="content mt-3">

          <div class="card">
            <div class="card-header">
                <strong>Inserir Estrutura</strong> <small> (Novo Cartão no Quadro de Gestão a Vista)</small>
            </div>
            <div class="card-body card-block">
              <form method="POST" id="formEstrutura" dataCarregarEstruturasURL="{% url 'telaPrincipal:ajaxCarregarEstruturas' %}" dataCarregarPrazosEstrutura="{% url 'telaPrincipal:ajaxCarregarPrazosEstrutura' %}" class="form-row">
                {% csrf_token %}
                <div class="col-md-6">
                  {{ form.id_maquina|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.id_estruturas|as_crispy_field }}
                </div>
                <div class="col-md-6">
                  {{ form.ordemproducao|as_crispy_field }}
                </div>
                <div class="form-group col-md-6"></div>
                <div class="form-group col-md-6">
                  {{ form.dataInicioManufatura|as_crispy_field }}
                </div>
                <div class="form-group col-md-6">
                  {{ form.dataEntregaMax|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Corte:</label>
                  <div>
                    <span id ="spanPrazoPadraoCorte" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazocorte|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Corte:</label>
                  <div>
                  = <span id ="spanTotalPrazoCorte" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Cald/Solda:</label>
                  <div>
                    <span id ="spanPrazoPadraoCaldSolda" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazocaldsolda|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Cald/Solda:</label>
                  <div>
                  = <span id ="spanTotalCaldSolda" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Usinagem:</label>
                  <div>
                    <span id ="spanPrazoPadraoUsinagem" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazousinagem|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Usinagem:</label>
                  <div>
                  = <span id ="spanTotalUsinagem" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Prazo Padrão Pintura:</label>
                  <div>
                    <span id ="spanPrazoPadraoPintura" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="form-group col-md-2">
                  {{ form.prazopintura|as_crispy_field }}
                </div>
                <div class="form-group col-md-2">
                  <label class="col-form-label">Total Pintura:</label>
                  <div>
                  = <span id ="spanTotalPintura" class="diasPadrao">-</span> dias
                  </div>
                </div>
                <div class="col-6 text-center"><a href="../" class="btn btn-warning">Cancelar</a></div>
                <div class="col-6 text-center"><button type="submit" class="btn btn-info">Salvar</button></div>
              </form>
            </div>
          </div>
        </div> <!-- .content -->
{% endblock %}

{% block arquivosJS %}
  <script src="{% static 'js/formEstrutura.js' %}"></script>
{% endblock %}
