{% extends 'telaPrincipal/base.html' %}
{% load static %}
{% load tag_extras %}

{% block title %}Sistema de Gestão a Vista{% endblock %}
{% block h1Pagina %}Quadro de Gestão a Vista{% endblock %}
{% block content %}
<style>
  .wrapper {
    display: grid;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: 0.8vh;
    grid-template-rows: 8fr repeat(31, 4fr);
    -ms-grid-rows: 8fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr 4fr;
    background-color: white;
    grid-template-columns: 8fr repeat(24, 6fr);
    -ms-grid-columns: 8fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr 6fr;
    display: -ms-grid;
    -ms-grid-rows: 8fr;
  }
  .divHora, .divHora2{
    display: flex;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    justify-content: center;
    align-items: center;
  }
  .divHora{
    width: 6fr;
    height: 4fr;
  }
</style>
  <div class="wrapper">
    <div class="divHora" style="-ms-grid-row: 1; -ms-grid-column: 1">
        Hora →<br />
        Dia ↓
    </div>
    {% for i in horasdoDia %}
      <div class="divHora" style="-ms-grid-row: 1; -ms-grid-column: {{forloop.counter|add:1}}">
        {{ i|smooth_timedelta }}
      </div>
    {% endfor %}
    {% for j in diasdoMes %}
      <div class="divHora" style="-ms-grid-row: {{forloop.counter|add:1}}; -ms-grid-column: 1">
        {{ j }}
      </div>
      {% for i in horasdoDia %}
        <div class="divHora" id="dia{{j}}hora{{i|smooth_timedelta2}}" style="-ms-grid-row: {{forloop.parentloop.counter|add:1}}; -ms-grid-column: {{forloop.counter|add:1}}">
          a
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  <script type="text/javascript">
    $(function() {
      {% for k in horariosEstruturas %}
        $("#dia{{k.0}}hora{{k.2.0|smooth_timedelta2}}" ).replaceWith("<div style='-ms-grid-row: {{k.0|add:1}};-ms-grid-column: {% with hora=k.2.0|smooth_timedelta2 %}{{hora|add:2}}{% endwith %};-ms-grid-column-span: {{k.3|add:-2}}; grid-column: {% with hora=k.2.0|smooth_timedelta2 %}{{hora|add:2}}{% endwith %} / {% with hora=k.2.0|smooth_timedelta2 %}{{hora|add:k.3}}{% endwith %};' class='divHora2' id='comeStrutdia{{k.0}}hora{{k.2.0|smooth_timedelta2}}'>{{k.1}}</div>");
        {% for l in k.2 %}
          $("#dia{{k.0}}hora{{l|smooth_timedelta2}}" ).remove();
        {% endfor %}
      {% endfor %}
    });
  </script>
{% endblock %}
